In [ ]:
 print("Hello")

Hello

In [ ]:
data={
    "niaj":{
        "first_name":"anon",
        "second_name":"tahrim"
    },
    "anonn":{
        "contact":{
            "num":"1718",
            "gmail":"abc@gmail.com"
        }
    }
}
print(data["anonn"]["contact"]["num"])

1718

In [ ]:
temp=[28,30,40,35,33]
farhen=[item*(9/5)+32 for item in temp]
print(farhen)

[82.4, 86.0, 104.0, 95.0, 91.4]

In [ ]:
square=[x**2 for x in range(6)]
print(square)
evens=[x for x in range(20) if x%2==0]
print(evens)
square_map={x: x**2 for x in range(5)}
print(square_map)
unique={item[0].lower() for item in ["Alex","anon","Niaj"]}
print(unique)

[0, 1, 4, 9, 16, 25]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{'n', 'a'}

In [ ]:
nested=[[x**2 for x in range(i,i+5) if x%2==0] for i in range(1,10,3)]
print(nested)

[[4, 16], [16, 36, 64], [64, 100]]

In [ ]:
#Create a dictionary mapping number:

number={
    num:(
        "Number is even and divisible by 3" if num%2==0 and num%3==0
        else "Number is even" if num%2==0
        else "Nummber is divisiblle by 3 and odd number" if num%3==0
        else "Number is odd"
            ) for num in range(1,15)
}
print(number)

{1: 'Number is odd', 2: 'Number is even', 3: 'Nummber is divisiblle by 3 and odd number', 4: 'Number is even', 5: 'Number is odd', 6: 'Number is even and divisible by 3', 7: 'Number is odd', 8: 'Number is even', 9: 'Nummber is divisiblle by 3 and odd number', 10: 'Number is even', 11: 'Number is odd', 12: 'Number is even and divisible by 3', 13: 'Number is odd', 14: 'Number is even'}

In [ ]:
text="Educating AI with Python"
vowels=[ch for ch in text if ch.lower() in "aeiou"]
print(vowels)

['E', 'u', 'a', 'i', 'A', 'I', 'i', 'o']

In [ ]:
odd_even={
    n:(
        "Even" if n%2==0 else "Odd"
    ) for n in range(1,10)
}
print("Numbers: ",odd_even)

Numbers:  {1: 'Odd', 2: 'Even', 3: 'Odd', 4: 'Even', 5: 'Odd', 6: 'Even', 7: 'Odd', 8: 'Even', 9: 'Odd'}

In [ ]:
sentence="Clean sets from TEXT!"
letters={ch.lower() for ch in sentence if ch.isalpha()}
print(letters)

{'m', 's', 'r', 'e', 'x', 'n', 'a', 'c', 't', 'f', 'o', 'l'}

In [ ]:
#Calculate the total number spent by each user(using loop:)
user_data=[
    {"user_id":1,"name":"Niaj","orders":[{"orders_id":"A1","amount":200},{"orders_id":"A2","amount":300},{"orders_id":"A3","amount":500}]},
    {"user_id":2,"name":"Anon","orders":[{"orders_id":"B1","amount":5},{"orders_id":"B1","amount":10},{"amount":70}]},
    {"user_id":3,"name":"charlie","orders":[]}

]
for user in user_data:
  total_spent=0
  for order in user.get("orders",[]):
    total_spent+=order.get("amount",0)
  print(f"{user.get('name','N/A')}: ${total_spent}")

  #get a list of all order
  all_order_amounts=[order.get("amount",0)for user in user_data for order in user.get("orders",[])]
  print(all_order_amounts)

  #dictionary mapping user_id to the number of orders

  orders_count_by_user={user.get("user_id"):len(user.get("orders",[])) for user in user_data}
  print(orders_count_by_user)

Niaj: $1000
[200, 300, 500, 5, 10, 70]
{1: 3, 2: 3, 3: 0}
Anon: $85
[200, 300, 500, 5, 10, 70]
{1: 3, 2: 3, 3: 0}
charlie: $0
[200, 300, 500, 5, 10, 70]
{1: 3, 2: 3, 3: 0}

In [ ]:
x=[1,2,3,2,4]
x.remove(4)
x.pop()
print(x)

[1, 2, 3]