In [3]:
tup=(1,3.5,True,"hi")

# tup=tuple([10])
print(type(tup),tup)

<class 'tuple'> (1, 3.5, True, 'hi')

In [4]:
list=[1,2,4]
tup1=tuple(list)
print(type(tup1))

<class 'tuple'>

In [6]:
tup=(1,3.5,True,"hi",10,20,10)
print(tup.count(10))
print(tup.index(10))

2
4

Set # mutable

In [10]:
set={2,3,5,7,8,4,2}
sum=0
for element in set:
    sum+=element
print(sum)

29

In [20]:
# method in set

s={6,1,2,3,4,3,5}
s.add(10)
s.pop()
s.remove(6)

print(s)

{2, 3, 4, 5, 10}

In [1]:
a={1,2,3}
b={2,3,4}
s=a.union(b)
k=a.intersection(b)
print(s)
print(k)

{1, 2, 3, 4}
{2, 3}

In [28]:
# joint isdisjoint
a={1,2,3}
b={1,2,3,5,6,4}
print(a.isdisjoint(b))
print(a.issubset(b))

False
True

Dictionaries in python

In [30]:
# dic={}
# print(type(dic))

dic={"name":"phitron",
     "age":20,
     "address":"Dhaka",
     "numbers":[10,20,30]
    }
print(dic)

{'name': 'phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [3]:
print(dic["address"])
print(dic["numbers"])
print(dic.get("age"))

dic["name"]="phitron ai/ml"

dic={"name":"phitron",
     "age":20,
     "address":"Dhaka",
     "numbers":[10,20,30],
     "age":30
    }
print(dic)

NameError: name 'dic' is not defined

In [40]:
# printing default value
print(dic)
print(dic.get("anon"))
print(dic.get("anon",0))

{'name': 'phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30]}
None
0

In [44]:
dic={"name":"phitron",
     "age":20,
     "address":"Dhaka",
     "numbers":[10,20,30]
    }

dic["math_marks"]=30
dic.update({"english_marks":40})
print(dic)

{'name': 'phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}

In [45]:
del dic["age"]
print(dic)

{'name': 'phitron', 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}

In [46]:
dic_2=dic.copy()
print(dic_2)

{'name': 'phitron', 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}

In [54]:
# view method in dictionary

dic={"name":"phitron",
     "age":20,
     "address":"Dhaka",
     "numbers":[10,20,30]
    }

keys=dic.keys()
print(keys)
dic["math_marks"]=30
print(keys)

values=dic.values()
print(values)

dic["math_marks"]=40
print(values)

items=dic.items()
print(items)

dict_keys(['name', 'age', 'address', 'numbers'])
dict_keys(['name', 'age', 'address', 'numbers', 'math_marks'])
dict_values(['phitron', 20, 'Dhaka', [10, 20, 30], 30])
dict_values(['phitron', 20, 'Dhaka', [10, 20, 30], 40])
dict_items([('name', 'phitron'), ('age', 20), ('address', 'Dhaka'), ('numbers', [10, 20, 30]), ('math_marks', 40)])

In [56]:
# iteration
for key,value in dic.items():
    print(key,value)

name phitron
age 20
address Dhaka
numbers [10, 20, 30]
math_marks 40

In [57]:
# Dictionary comprehendion

square={x:x**2 for x in range(1,11)if x%2==0}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [61]:
co_ordinate=[(19,10.5),(20.5,192),(101.102)]
locations=["dhaka","barisal","sylhet"]
exact_location={co_or:loc for co_or,loc in zip(co_ordinate,locations)}
print(exact_location)

{(19, 10.5): 'dhaka', (20.5, 192): 'barisal', 101.102: 'sylhet'}

In [69]:
# Problem: list to unique value list make
lst=[1,2,3,4,3]
s=set(lst)
lst=list(s)
print(lst)

TypeError: 'set' object is not callable

In [70]:
lst=[1,2,3,4,3]
s=set(lst)
lst=list(s)
print(lst)

TypeError: 'set' object is not callable

In [8]:
text="  hey anon whats up?  "
print(text.strip())

hey anon whats up?

In [13]:
# Codeforces j.count letter proble,
s=input().strip()
# s=sorted(input().strip()) #thats also valid
count={}
for word in s:
    count[word]=count.get(word,0)+1
for k,v in sorted(count.items()):
    print(f"{k}:{v}")

 bcddnnnnm

b:1
c:1
d:2
m:1
n:4

In [24]:
# or
s=input()
st=sorted(s.strip())
count={}
for word in st:
    count[word]=count.get(word,0)+1

for k,v in count.items():
    print(f"{k}:{v}")

 dsaaa

a:3
d:1
s:1